<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Postman Collection generator for Micropub</title>
  </head>
  <body>
    <p>See <a href="https://www.jvt.me/posts/2021/01/11/micropub-postman/">Autogenerating Postman Collections for Micropub Servers</a> for more details.</p>

    <form action="/start" method="get">
      <input type="text" name="profile_url" id="profile_url" placeholder="https://www.jvt.me/" />
      <input type="submit" />
    </form>
  </body>
</html>
